/*import normlise css to reset the style*/
@import url("normalize.css");
/*import font Open sans bold and normal*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
/*import icons*/
@import url('../icon/style.css');

/*Main style*/
html {
  box-sizing: border-box;
  height: 99%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  padding-top: 83px;
  height: 99%;
}
body.mobile-vport {
  overflow: hidden;
  padding-top: 0;
}
a {
  color: #0000ff;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  margin: 0 0 15px;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.clearfix {
  display: block;
  content: "";
  clear: both;
}
#mainTest{
  position: relative;
  width: 100%;
}
.row {
  display: table;
  content: " ";
}
.col-8 {
  width: 660px;
  float: left;
}
#col-4 {
  width: 300px;
}
/*Header style*/
.main-header {
  padding: 15px;
  border-bottom: 1px solid #464646;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 1;
}
.main-header > .logo {
  color: #fff;
  background-color: #464646;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
}

/* Back btn */
.back-container {
  padding: 5px 15px;
  border-bottom: 1px solid #464646;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 1;
}
.back-container > a {
  color: #333;
  font-size: 15px;
  text-transform: capitalize;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

/*Article*/
.article-container {
  padding: 0 15px;
  margin: 15px auto;
}
.mobile-vport .article-container {
  padding-top: 63px;
}
.article-container > header > h1 {
  font-size: 21px;
  text-transform: capitalize;
}
.article-container .authers {
  margin-bottom: 15px;
}
.article-container .authers a {
  display: inline-block;
  margin-right: 10px;
}
.article-container .authers a::after {
  content: ",";
}
.article-container .authers a:last-child::after {
  content: "";
}
/*Aside style*/
aside {
  height: 100%;
  overflow: hidden;
}
.aside-container {
  position: fixed;
  background-color: #e9e9e9;
  width: 300px;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.links > li {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: transparent;
  width: 24%;
  padding: 20px 6px 10px;
  transition: border-color 250ms ease;
}
.links > li > a {
  font-size: 11px;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: color 250ms ease;
}
.links > li > a > i {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
}
.links > li > a:hover {
  color: #000;
}
.links > li:hover {
  border-color: #333;
}
.links > li.active-tab > a {
  color: #000;
}
.links > li.active-tab {
  border-color: #333;
}
/*Content*/
.img-responsive {
  width: 100%;
  height: auto;
}
.aside-content {
  margin: 15px auto;
  padding: 0 10px;
}
.section-head {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  color: #555;
}
.aside-content > section > figure {
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
}
.aside-content > section > figure:last-child {
  border-bottom: 0;
}
.aside-content > section > figure > figcaption {
  margin-top: 15px;
}
.aside-content .side-links > li {
  margin-bottom: 15px;
}
.aside-content .side-links > li > a {
  color: #000;
  transition: color 250ms ease;
}
.aside-content .side-links > li > a:hover {
  color: #555;
}
.aside-content.more-info section {
  margin-bottom: 30px;
}
/*Tabs show and hide*/
.aside-content {
  display:none;
}
.tab-content {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 160px;
}
.aside-content.tab-active {
  display:block;
}
.mobile-menu {
  display: none;
}
/* responsive */
@media only screen and (max-width : 960px) {
  .container {
    max-width: 720px;
  }
  .col-8 {
    width: 420px;
  }
}
@media only screen and (max-width : 720px) {
  body {
    padding-top: 63px;
  }
  .main-header {
    padding: 10px 15px;
  }
  .main-header > .logo {
    font-size: 15px;
    padding: 10px 30px;
  }
  .links {
    display: none;
  }
  .links.mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 33px;
  }
  .links > li.active-tab {
    border-color: transparent;
  }
  .col-8 {
    width: 100%;
    float: none;
  }
  #col-4 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .article-container {
    padding: 0 50px 0 15px;
  }
  .aside-container {
    background-color: #e9e9e9;
    width: 100%;
  }
  .tab-content {
    padding-bottom: 50px;
  }
  .links > li {
    display: block;
  }
  .links > li.active {
    border-color: transparent;
  }
}
