@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w89vsy');
  src:  url('fonts/icomoon.eot?w89vsy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w89vsy') format('truetype'),
    url('fonts/icomoon.woff?w89vsy') format('woff'),
    url('fonts/icomoon.svg?w89vsy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e907";
}
.icon-figures:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e901";
}
.icon-references:before {
  content: "\e902";
}
.icon-related:before {
  content: "\e903";
}
.icon-shoppingcart:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
